[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/printempsdespoetes-theme"]
	path = themes/printempsdespoetes-theme
	url = git@github.com:osunyorg/printempsdespoetes-theme.git
