$font-sans: "Azonix", sans-serif
$font-serif: "LibreBaskerville", serif
$heading-font-family: $font-serif
$body-font-family: $font-serif
$h1-font-family: $font-sans
$h1-line-height: 100%
$lead-font-family: $font-sans
$lead-line-height: 100%

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(70)
$hero-background-color: none
$footer-background-color: none
$footer-logo-height-desktop: pxToRem(70)