$color-orange: #af1d00
$color-accent: $color-orange

$font-sans: "N27", sans-serif
$font-serif: "LibreBaskerville", serif
$heading-font-family: $font-serif
$body-font-family: $font-serif
$h1-font-family: $font-sans
$h1-text-transform: uppercase
$h1-line-height: 100%
$h2-font-family: $font-sans
$h3-font-family: $font-sans
$h3-weight: bold
$h3-line-height: 100%
$lead-font-family: $font-sans
$lead-weight: bold
$lead-line-height: 100%
$body-size-desktop: pxToRem(20)
$body-size: pxToRem(16)
$body-line-height: 180%
$meta-font-family: $font-sans
$quote-size-desktop-short: pxToRem(36)
$quote-size-desktop-long: pxToRem(36)
$quote-size-desktop: pxToRem(36)

$grid-gutter: pxToRem(12)

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(40)
$header-logo-height-desktop: pxToRem(70)
$hero-background-color: none
$footer-color: white
$footer-background-color: $color-orange
$footer-logo-height-desktop: pxToRem(70)