header#document-header
    .primary-menu
        @include media-breakpoint-down(desktop)
            padding-top: var(--grid-gutter)
            padding-bottom: var(--grid-gutter)
.page__home
    .hero
        display: none
    .document-content
        margin-top: space(18)
        @include media-breakpoint-up(desktop)
            margin-top: space(34)
.hero
    .content
        padding-top: 0
        .hero-text
            @include media-breakpoint-up(desktop)
                margin-top: 0
                padding-bottom: 0
                justify-content: end
                .hero-actions
                    .dropdown-share
                        position: relative
.project
    .project-content
        .project-title,
        .project-subtitle
            text-transform: uppercase
.projects--large
    .project
        @include in-page-without-sidebar
            align-items: center