header#document-header
    .primary-menu
        @include media-breakpoint-down(desktop)
            padding-top: var(--grid-gutter)
            padding-bottom: var(--grid-gutter)
.page__home
    .hero
        .container
            @include sr-only

.hero
    .content
        padding-top: space(8)
        .hero-text
            @include media-breakpoint-up(desktop)
                margin-top: 0
                padding-bottom: 0
                justify-content: end
                .hero-actions
                    .dropdown-share
                        position: relative
